* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lemonada', cursive;
    font-size: 100%;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
    /* added line */
}

.no-scroll {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    display: block;
    max-width: 100%;
}

.header {
    background: url(img/header_bg.png) no-repeat;
    background-size: 100% 100%;
    /* border: 1px dotted rgb(255, 251, 2); */
    margin: 0 auto;
    padding-left: 15%;
    padding-right: 15%;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 50px;
}

.header__logo {
    flex: 1 1 97px;
}

.header__nav {
    text-transform: uppercase;
    font-size: 1.0625rem;
    flex: 1 1 100%;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header__item {
    list-style-type: none;
    margin-left: 3%;
    transition: .2s ease-in-out;
}

.header__item:hover {
    margin-top: -5px;
}

.footer li {
    list-style-type: none;
}

.header__list a {
    color: #fff;
}

.header__list a:hover {
    color: #f8de01;
}

.header__toggler {
    display: none;
}


/* --------------------------------------------------------- */

.main,
.feature,
.products,
.newsletter,
.footer {
    margin: 0 auto;
    background: #1c1c1c url(img/main_bg.png) no-repeat;
    background-size: 100% 100%;
}

.banner {
    color: #fff;
    padding-left: 5%;
    padding-right: 5%;
}

.container {
    max-width: 1200px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.banner__description,
.feature__description {
    padding: 60px 10px 0;
    flex: 1 0 40%;
}

.banner .container {
    padding-left: 13%;
    padding-right: 13%;
}

.banner .container,
.feature .container,
.footer .container {
    padding: 180px 10px 110px;
    display: flex;
    justify-content: space-between;
}

.banner h1 {
    font-size: 4.0625rem;
    font-weight: 700;
    padding: 0 0 40px;
    text-transform: uppercase;
    line-height: 1;
}

.feature h2,
.products h2 {
    font-size: 4.0625rem;
    font-weight: 700;
    padding: 0 0 40px;
    text-transform: uppercase;
    line-height: 1;
}

.banner p,
.feature p {
    text-transform: uppercase;
    padding-bottom: 44px;
    font-weight: 300;
    line-height: 1.5;
}

.banner a,
.feature a {
    padding: 20px 52px;
    color: #f8de01;
    border: 1px solid rgb(245, 241, 16);
    display: inline-block;
    font-size: 1.25rem;
}

/* ----------style-btn---------- */

.banner a {
    position: relative;
    transition: .2s ease-in-out;
    overflow: hidden;
}

.banner a::before {
    content: '';
    position: absolute;
    background: linear-gradient(90deg,rgba(245, 241, 16,.1),rgba(245, 241, 16,.5));
    height: 80px;
    width: 80px;
    top: 0;
    left: -115px;
    transform: skewX(-45deg);
}

.banner a:hover {
    background: #ffae00;
    color: #fff;
}

.banner a:hover::before {
    left: 250px;
    transition: .5s ease-in-out;
} 

/* -----------endstyle---------- */

.banner__img,
.feature__img {
    flex: 1 0 45%;
    position: relative;
}

.banner__img img {
    width: 100%;
    margin: auto;
    object-fit: cover;
    position: absolute;
    top: 0;
    bottom: 0;
}

/* --------------------------------------------------- */

.services {
    padding: 97px 0 0;
    color: #fff;
}

.services .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services__item {
    padding: 20px 40px;
    margin-bottom: 5.5%;
    flex: 0 1 47%;
    position: relative;
}

.services__item:hover {
    opacity: 0.5;
}

.services__item:nth-child(1) {
    background: #1c1c1c url(img/first-item.png) no-repeat;
    background-size: cover;
    background-position: center right;
}

.services__item:nth-child(2) {
    background: #1c1c1c url(img/second-item.png) no-repeat;
    background-size: cover;
    background-position: center right;
    color: #000;
}

.services__item:nth-child(3) {
    background: #1c1c1c url(img/third-item.png) no-repeat;
    background-size: cover;
    background-position: center right;
    color: #000;
}

.services__item:nth-child(4) {
    background: #1c1c1c url(img/fourth-item.png) no-repeat;
    background-size: cover;
    background-position: center right;
}

.services__container {
    width: 50%;
}

.services h2 {
    font-size: 1.5625rem;
    padding-bottom: 33px;
    line-height: 1.5;
}

.services p {
    padding-bottom: 33px;
    line-height: 1.5;
}

.services a {
    font-size: 1.25rem;
}

.services a::before {
    content: '';
    position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
}

.services a::after {
    content: 'á…';
    padding-left: 15px;
}

.services .yellow {
    color: #f8de01;
}


/*----------------------------------------------- */

.products {
    background: #dde6e8;
}

.products .container {
    padding-top: 120px;
    padding-bottom: 50px;
}

.products h2 {
    font-size: 2.65rem;
    text-align: center;
    padding: 10px 0 22px;
}

.products p {
    padding-top: 22px;
    padding-bottom: 85px;
    padding: 0 85px;
    text-align: center;
    line-height: 1.5;
}

.products__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 20px;
    flex-wrap: wrap;
}

.products__item {
    background-color: #fff;
    flex: 0 1 32%;
}

.products__container {
    padding: 13px;
    margin: 0 auto;
}

.products img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.products__description {
    padding: 20px 13px;
    color: #000;
    display: flex;
    justify-content: space-between;
    font-size: 1.125rem;
}

.products__name h3 {
    font-weight: 300;
}

.products__price {
    display: flex;
}

.products__price p {
    padding: 0;
    font-weight: 700;
    line-height: normal;
}

.products__price::before {
    content: '$'
}

/* ------------------------------------ */

.feature {
    background: url(img/bg1.png) no-repeat;
    background-size: 100% 100%;
}

.feature .container {
    padding-top: 10px;
}

.feature h2 {
    font-size: 2.65rem;
    padding-top: 170px;
}

.feature a {
    color: #000;
    border-color: #000;
    font-weight: 700;
}

/* ----------------------second-btn------------------------ */

.feature a {
    position: relative;
    border: 1px solid #000;
}

.feature a::before,
.feature a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

.feature a::before {
        bottom: 0;
        left: -1px;
    border-left: 2px solid #000;
    border-top: 2px solid #000;
    transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}

.feature a::after {
        top: 0;
        right: -1px;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    transition: 0s ease opacity .4s, .2s ease width , .2s ease height .2s;
}

.feature a:hover::before,
.feature a:hover::after {
    height: 100%;
    width: 100%;
    opacity: 1;
}

.feature a:hover::before {
    transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
}

.feature a:hover::after {
    transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
}

.feature a:hover {
    background: rgba(255, 255, 255, .2);
}

/* -------------------------------------------------------- */
.feature__description {
    width: 47%;
    padding-top: 200px;
}

.feature__img {
    width: 77%;
    top: 75px;
    display: flex;
    align-items: center;
}

.feature__img img {
    width: 100%;
}

.new-feature {
    background: url(img/bg2.png) no-repeat;
    background-size: 100% 100%;
}

.new-feature .container {
    padding-bottom: 10px;
}

.new-feature h2 {
    color: #fff;
    padding-top: 20px;
}

.new-feature .feature__img {
    width: auto;
    position: initial;
    padding-top: 95px;
}


/* ----------------------------------------- */

.newsletter {
    background: url(img/bg3.png) no-repeat;
    background-size: 100% 100%;
    color: #fff;
}

.newsletter .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 240px;
    padding-bottom: 240px;
}

.newsletter__discount {
    font-size: 1.456rem;
    flex: 0 1 50%;
    padding-right: 18px;
}

.newsletter__discount span {
    color: #f8de01;
    font-size: 2.1875rem;
    font-weight: 600;
}

.newsletter__form {
    height: 80px;
    display: flex;
    flex: 0 1 50%;
    padding-top: 30px;
    padding-left: 18px;
}

.mail {
    width: 73%;
    background: inherit;
    border: 1px solid #fff;
    color: #fff;
    padding: 0 10px;
    font-size: 1rem;
}

.submit {
    background: inherit;
    border: 1px solid #f8de01;
    color: #f8de01;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 0 25px;
    cursor: pointer;
}

.submit:hover {
    color: #000;
    background: #f8de01;
    transition: 0.2s ease-in-out;
}

/* ------------------------------------------- */

.footer {
    background: #000;
    color: #fff;
}

.footer__logo {
    width: 60%;
    padding-bottom: 40px;
}

.footer .container {
    padding-top: 45px;
    padding-bottom: 95px;
    padding-left: 24px;
    padding-right: 25px;
    flex-wrap: wrap;
}

.footer__leftpart {
    flex: 0 1 30%;
}

.footer__rightpart {
    flex: 0 1 50%;
}

.footer__rightpart > ul {
    display: flex;
}

.footer__rightpart > ul > li {
    padding-right: 40px;
}

.dropdown h2 {
    padding-bottom: 40px;
    color: #fff;
    font-size: 1em;
}

.footer__rightpart > ul > li:last-of-type {
    padding-right: 0;
}

.footer a {
    color: #646464;
}

.footer a:hover {
    color: #fff;
}

.footer__bot {
    width: 100%;
    background: #212121;
    text-align: center;
    padding: 15px 25px;
    font-size: 1rem;
}

.footer__bot span {
    color: #f8de01;
    text-transform: uppercase;
}

/* .dropdown {
    display: none;
} */

@media screen and (max-width: 1000px) {

    .services__item:nth-child(odd) {
        background: #000;
        color: #fff;
    }

    .services__item:nth-child(odd) a {
        color: #f8de01;
    }

    .services__item:nth-child(even) {
        background: #f8de01;
        color: #000;
    }

    .services__item:nth-child(even) a {
        color: #000;
    }

    .services__container {
        width: 100%;
        padding: 25px 30px;
    }

    .newsletter__discount {
        flex: 0 0 100%;
    }

    .newsletter__form {
        flex: 0 0 100%;
        padding-left: 0;
    }

    .newsletter__form .mail {
        width: 80%;
    }

    .newsletter__form .submit {
        width: 20%;
    }

    .footer__leftpart {
        flex: 0 0 100%;
    }

    .footer__rightpart {
        display: flex;
        flex: 0 0 100%;
        padding-top: 30px;
    }

    .footer h2 {
        color: #f8de01;
        padding-bottom: 15px;
    }

    .footer li a {
        font-size: 0.8rem;
    }

}

@media screen and (max-width: 768px) {
    
    .header__container {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .banner h2,
    .feature h2,
    .products h2 {
        text-align: center;
    }

    .banner__btn,
    .feature__btn {
        text-align: center;
    }

    .products .container {
        padding-top: 60px;
    }

    .products p {
        padding-left: 10px;
        padding-right: 10px;
    }

    .feature {
        background-color: #fff;
    }

    .new-feature {
        background: #ffae00;
    }
    
    .feature__img {
        display: none;
    }

    .feature h2 {
        padding-top: 10px;
    }

    .feature__description {
        padding-top: 20px;
    }

    /* ---------------------------- */

    .header__nav {
        display: none;
    }

    .header__toggler {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 0;
        background: #f8de01;
        position: relative;
        right: 0;
        z-index: 4;
        cursor: pointer;
    }

    .header__toggler:hover {
        opacity: 0.7;
    }

    .burger__lines,
    .burger__lines::before,
    .burger__lines::after {
        width: 35px;
        height: 5px;
        background: #1c1c1c;
        position: absolute;
    }

    .burger__lines {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .burger__lines::before {
        content: '';
        top: -10px;
        left: 0;
        transition: 0.1s ease-in-out;
    }

    .burger__lines::after {
        content: '';
        top: 10px;
        left: 0;
        transition: 0.1s ease-in-out;
    }

    .header__nav.is-open {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background: #212121;
        position: fixed;
            top: 0;
            left: 0;
        z-index: 3;
    }

    .is-open .header__item {
        width: 100%;
        text-align: center;
        margin: 1.5vh;
    }

    .is-open a {
        font-size: 1.8rem;
    }


        /* Cross */
    .is-open + .header__toggler .burger__lines {
        background-color: transparent;
        transition: 0.1s ease-in-out;
    }

    .is-open + .header__toggler .burger__lines::before {
            top: 0;
        transform: rotate(45deg);
        transition: 0.1s ease-in-out;
    }

    .is-open + .header__toggler .burger__lines::after {
            top: 0;
        transform: rotate(-45deg);
        transition: 0.1s ease-in-out;
    }

    /* -=------------------------------------------------------ */
    .main,
    .feature,
    .products,
    .footer,
    .newsletter {
        background-image: none;
    }

    .banner__description,
    .feature__description {
        flex: 1 0 40%;
    }

    .banner__img {
        display: none;
    }

    .banner .container,
    .feature .container,
    .footer .container,
    .newsletter .container {
        padding-top: 45px;
        padding-bottom: 45px;
    }

    .services {
        padding-top: 20px;
    }

    .services__item {
        flex: 0 1 100%;
        padding: 10px 20px;
    }

    .products__item {
        background-color: #fff;
        flex: 0 1 48%;
        margin-bottom: 25px;
    }

    .newsletter__form .submit {
        width: auto;
    }
}

@media screen and (max-width: 550px) {

    .services__item {
        padding: 0;
    }

    .feature h2,
    .products h2 {
        font-size: 1.9rem;
    }

    .products__item {
        flex: 0 0 100%;
    }

    .feature__description {
        padding-top: 20px;
    }

    .newsletter__discount {
        line-height: 2.5rem;
    }

    .mail {
        flex: 0 1 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .newsletter__form {
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .submit {
        flex: 0 1 100%;
        margin: 15px auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .footer__rightpart ul {
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .footer__rightpart .dropdown {
        padding-right: 0;
    }

    .dropdown {
        flex: 0 1 50%;
        text-align: center;
    }
}